/* Project CSS 
============================================================
Mohamed A. Kamara
BSc. Web Design & Development
WSP
============================================================*/
body {
    background-color: #ccd6dd;
    background-repeat: repeat;
    font-family: "Gotham Narrow", Arial, Helvetica, sans-serif;
}

header, section {
    width: 400px;
    margin: 0 auto;
}


/* HEADER ============================== */

/* horizontal navigation menu */
#menu_nav ul {
  list-style: none;
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  width: 1200px;
  height: 140px;
  position: relative;
  padding-top:50px;
  padding-left:460px;
  margin: 0;
}

#menu_nav li {
  font-family:Arial, Helvetica, sans-serif;
  line-height: 80px;
  font-size: 1.8em;
  font-weight: bold;
  color: #ffffff;

}
 
#menu_nav a {
    
  text-decoration: none;
  display: block;
  transition: .3s background-color;
  color: aliceblue;
  text-align: center;
}
 
#menu_nav a:hover {
  background-color:#05C2E8;
  color: #ffffff;
  
}
 
#menu_nav a.active {
  color: #F29677;
  cursor: default;
}

/* ABOUT ============================== */

#about{
	color:##424242;
	font-family:Arial, Helvetica, sans-serif;
    font-size:0.8em;
	
}

.image {
  float: left;
   padding: 10px;
	
}

/* COMPONENTS ============================== */
#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    border: 2px solid #e2e2e2;

}

article {
    background: #DEDEDE;
    padding: 30px;
    margin: 30px 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:0.8em;
}

h1 {
	font-weight:bold;
	font-size:1.5em;
	font-style:normal;
}

h3 {
	font-weight:bold;
	font-size:1.2em;
	font-style:normal
}

/* View Component button ============================== */
.btnComp {
	-moz-box-shadow: 0px 10px 14px -7px #05C2E8;
	-webkit-box-shadow: 0px 10px 14px -7px #05C2E8;
	box-shadow: 0px 10px 14px -7px #05C2E8;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #05C2E8), color-stop(1, #05C2E8));
	background-color:#05C2E8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #05C2E8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.5em;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #05C2E8; 
}

.btnComp:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background-color:#72b352;
}
.btnComp:active {
	position:relative;
	top:1px;
}


/*CTA component===========================*/
#cta {
  background-image: url('../images/cta_3.jpg');
  background-repeat: no-repeat;
  width: 1200px;
  height:480px;
  position: relative;
}

#more {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 50px;
    padding-bottom:30px;
    width: auto;
    height: auto;
}

#cta-divider {
    width: 1200px;
    width: 50px;
    clear: both;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
/*Features component===========================*/  
#feature{
    color: #ffffff;
    clear: both;
    width: 1200px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.2em;
    letter-spacing: normal;
}
    
#feat_1 {
  background-image: url('../images/feature_1.jpg');
  background-repeat: no-repeat;
  float:left;
  width: 400px;
  height: 700px;
 
 
  
}  

#feat_2 {
  background-image: url('../images/feature_2.jpg');
  background-repeat: no-repeat;
  float: left;
  width: 400px;
  height: 700px;
 

}  


#feat_3 {
  background-image: url('../images/feature_3.jpg');
  background-repeat: no-repeat;
  float: left;
  width: 400px;
   height: 700px;
  
 
}  

/*feature p----------*/
.f_info {
padding-top: 20px;
padding-left:20px;
padding-right: 20px;
padding-bottom: 20px;
word-wrap: normal;

}
/*feature button learn more----------*/
#b_info {
bottom: 0;
left: 0;
padding-left: 20px;
padding-top: 50px;

}

/*feature h1----------*/
#feat_intro {    
padding-top: 300px;
padding-left:20px;
word-wrap: normal;


}

/*Footer component===========================*/  

footer {
    font-family: Arial,'Oswald', sans-serif;
    color: #F5F9FA;
    widith:1200px;
    height: auto;
    background: #55acee;
}
#footer_1 {
    width:1200px;
    padding-left: 100px;
    padding-top: 20px;
 
}

#footer_2 {
    padding-top: 20px;
    clear: both;
    text-decoration: none;
    font-size: 1.2em;
   text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.foot_nav ul {
    list-style: none;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 1em;
}

.foot_nav h5 {
    font-size: 1.2em;
    font-weight: bold;
    font-style:normal;
    text-align:justify;
    
    
}

.foot_nav li {
    padding-top: 5px;
    font-size: 1.2em;
    
}
.foot_nav {
    float: left;
}


/*Media-queries===========================*/
@media screen and (min-width: 600px) {
  nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
   
  /* Option 1 - Display Inline */
  nav li {
    display: inline-block;
    margin-right: -4px;
  }

}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { 
 #wrapper {
        width:85%;
        position: relative;
    }

}

@media all and (min-width: 768px) and (max-width: 1024px) {
 #wrapper {
        width:75%;
        position: relative;
    }


}

@media all and (min-width: 480px) and (max-width: 768px) { 
#wrapper {
        width:65%;
        position: relative;
    }


}

@media all and (max-width: 480px) { 
#wrapper {
        width:45%;
        position: relative;
    }

}